/* Open Sans */

// Canela

@font-face {
    font-family: 'CanelaBold';
    font-style: normal;
    src: url("../fonts/canelabold.woff2") format('truetype');
}

// Fort Light

@font-face {
    font-family: 'FortLight';
    font-style: normal;
    src: url("../fonts/fortlight.woff2") format('truetype');
}

// Fort Medium

@font-face {
    font-family: 'FortMedium';
    font-style: normal;
    src: url("../fonts/fortmedium.woff2") format('truetype');
}

// Fort Book

@font-face {
    font-family: 'FortBook';
    font-style: normal;
    src: url("../fonts/fortbook.woff2") format('truetype');
}

// Fort Bold

@font-face {
    font-family: 'FortBold';
    font-style: normal;
    src: url("../fonts/fortbold.woff2") format('truetype');
}

