$fallbackfonts: sans-serif;

@mixin FontLight {
    font-family: 'FortLight', $fallbackfonts;
    font-weight: 300;
}

@mixin FontLightItalic {
    font-family: 'FortLight', $fallbackfonts;
    font-weight: 300;
    font-style: italic;
}

@mixin FontNormal {
    font-family: 'FortBook', $fallbackfonts;
    font-weight: 400;
}

@mixin FontNormalItalic {
    font-family: 'FortBook', $fallbackfonts;
    font-weight: 400;
    font-style: italic;
}

@mixin FontMedium {
    font-family: 'FortMedium', $fallbackfonts;
    font-weight: 600;
}

@mixin FontMediumItalic {
    font-family: 'FortMedium', $fallbackfonts;
    font-weight: 600;
    font-style: italic;
}

@mixin FontBold {
    font-family: 'FortBold', $fallbackfonts;
    font-weight: 700;
}

@mixin FontBoldItalic {
    font-family: 'FortBold', $fallbackfonts;
    font-weight: 700;
    font-style: italic;
}

@mixin FontSpecial {
    font-family: 'CanelaBold', $fallbackfonts;
    font-weight: bold;
}

@mixin FontSpecialItalic {
    font-family: 'CanelaBold', $fallbackfonts;
    font-weight: bold;
    font-style: italic;
}


$browser-default-size: 16; // Default

@function em($pixels, $context: $browser-default-size) {
  @return #{$pixels/$context}em;
}

@mixin background($imagename, $position:0 0, $repeat: no-repeat, $size: cover, $bg-color: transparent) {
	background-image: url(../images/#{$imagename});
	background-position: $position;
    background-repeat: $repeat;
    background-size: $size;
    background-color: $bg-color;
}