$skyBlue: #0081be;
$darkBlue: #354b85;
$lightBlue: #049DE6;
$lighterBlue: #78CFDE;
$teal: #20cad2;
$mint: #00c09a;
$orange:#ff7400;
$grey: #424452;
$red: #ff0033;
$mediumGrey: #4A4B59;
$lightGrey: #f4f4f4;
$white: #ffffff;

/* Responsive */
$mobile: 'only screen and (max-width: 480px)';
$tablet: 'only screen and (max-width: 768px)';
$tablet-landscape: 'only screen and (max-width: 1024px)';
$desktop-regular: 'only screen and (max-width: 1440px)';
$desktop-big: 'only screen and (min-width: 1200px)';
$ie: 'all and (-ms-high-contrast: none), (-ms-high-contrast: active)';
